body {
  background-color:#2A3149;
  background-image:url('./../img/bg-gradiant.png');
  background-repeat:repeat-x;
  margin:0px;
  padding:0px;
  font-size:100%;
  font-family:'Helvetica','Arial',sans-serif;
  color:#FFFFFF;
}

  h1, h3, h5 { color:#EDA20B; }

  header, footer {
    width:85%;
    margin:0 auto;
  }
